@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
.outline__btn {
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  transition: all 0.5s;
}
.outline__btn:hover {
  background-color: #fff;
  color: #15CE73;
}

.balance__outline {
  border: 1px solid #15CE73;
  color: #15CE73;
}
.balance__outline:hover {
  background-color: #fff;
  color: #15CE73;
}

.main__btn {
  background: #15CE73;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.02em;
  border-radius: 8px;
  padding: 10px 15px;
  border: 0px none;
  outline: 0px none;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 5px 13px 2px rgba(0, 0, 0, 0.28);
}
.main__btn:hover {
  opacity: 0.5;
}

.form__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  line-height: 24px;
  color: #404040;
}

.green__link {
  color: #15CE73;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.account__input {
  padding: 20px 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  border: 2px solid #dddbe3;
  border-radius: 8px;
  outline: 0px none;
  transition: all 0.3s;
  width: 100%;
  margin-bottom: 12px;
  margin-left: 10px;
}
.account__input:hover {
  border: 2px solid #080696;
}
.account__input:focus {
  border: 2px solid #080696;
}

body,
html {
  font-family: "Outfit", sans-serif;
  transition: all 0.5s;
  position: relative;
}

.wrapper__provider {
  background: #FAFCFF;
}

.login__bg {
  background: linear-gradient(295.03deg, rgba(21, 206, 115, 0.5) 52.72%, #15CE73 97.81%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.login__form {
  padding: 40px 40px;
  background: #fff;
  border-radius: 24px;
  width: 100%;
}

.form__input {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 8px;
  margin: 14px 0px;
  transition: all 0.3s;
}
.form__input:hover {
  border: 1px solid #15CE73;
}
.form__input input {
  border: 0px none;
  outline: 0px none;
  font-size: 16px;
}

.nav__link-item {
  margin-top: 11px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
}
.nav__link-item:hover {
  background: linear-gradient(90deg, rgba(8, 6, 150, 0.18) 0%, rgba(139, 102, 244, 0) 100%);
}
.nav__link-item a {
  color: #8A8A8A;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.12px;
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav__link-item a:hover {
  color: #080696;
}
.nav__link-item-active {
  background: linear-gradient(90deg, rgba(8, 6, 150, 0.18) 0%, rgba(139, 102, 244, 0) 100%);
  padding: 10px 24px;
  display: flex;
  align-items: center;
  border-left: 3px solid #080696;
}
.nav__link-item-active a {
  font-size: 12px;
  line-height: 15.12px;
  font-weight: 700;
  text-decoration: none;
  color: #080696;
  margin-left: 10px;
}

.logout {
  margin-top: 256px;
}
.logout a {
  margin-left: 10px;
}

.navbar {
  position: fixed;
}
.navbar__brand {
  margin-bottom: 11px;
  padding: 0px 31px;
}
.navbar__content {
  margin-top: 51px;
}
.navbar__content p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(15, 10, 28, 0.5019607843);
  padding: 0px 31px;
  margin: 21px 0px 16px 0px;
}
.navbar__links {
  padding: 0px;
}
.navbar__links nav {
  margin-left: 0px;
  padding-left: 0px;
}
.navbar__links nav ul {
  padding-left: 0;
}
.navbar__links nav ul li {
  list-style: none;
}

.profile__company {
  max-width: 100%;
  background-image: url("/assets/img/pana.svg");
  background-size: 313px 218px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.profile__content {
  margin-top: 51px;
}
.profile__navbar {
  background: #F8F7FC;
  padding: 0px;
}
.profile__nav-logo-title {
  margin-left: 10px;
  margin-top: 7px;
}
.profile__nav-title h1 {
  text-align: center;
  color: #080696;
  font-weight: 700;
  margin-left: 10px;
}
.profile__forms {
  margin: 95px 53px;
  max-width: 713px;
}

.row {
  margin-left: 0;
}

.form__btn {
  padding: 10px 120px;
}

.balance__company {
  max-width: 100%;
}
.balance__card {
  padding: 38px 36px;
  border-radius: 12px;
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.031372549);
  max-width: 538px;
  margin: 67px 51px;
}
.balance__nav-title h1 {
  margin-left: 10px;
}
.balance__accessible-item {
  margin: 36px 0px;
}
.balance__accessible-item h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}
.balance__card-pd {
  margin-left: 51px;
}
.balance__control-items .main__btn {
  margin-left: 56px;
  padding: 16px 26px;
}
.balance__btn {
  padding: 16px 26px;
}