.outline__btn {
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #f5f5f5;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        background-color: #fff;
        color: $green;
    }
}
.balance__outline {
    border: 1px solid $green;
    color: $green;
    &:hover {
        background-color: #fff;
        color: $green;
    }
}
.main__btn {
    background: $green;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.02em;
    border-radius: 8px;
    padding: 10px 15px;
    border: 0px none;
    outline: 0px none;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0px 5px 13px 2px rgba(0, 0, 0, 0.28);
    &:hover {
        opacity: 0.5;
    }
}

.form__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    line-height: 24px;
    color: $dr__black;
}

.green__link {
    color: $green;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.account__input {
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    border: 2px solid #dddbe3;
    border-radius: 8px;
    outline: 0px none;
    transition: all 0.3s;
    width: 100%;
    margin-bottom: 12px;
    margin-left: 10px;
    &:hover {
        border: 2px solid $blue;
    }
    &:focus {
        border: 2px solid $blue;
    }
}

.gray__text {
    color: #9daeb7;
}
.blue__text {
    color: $blue;
}

.call__input {
    max-width: 100px;
    border: 2px solid $green;
    border-radius: 8px;
    text-align: center;
    padding: 3px 10px;
    transition: all 0.3s;
    &:hover {
        border: 2px solid $green;
    }
    &:focus {
        border: 2px solid $green;
    }
    &:active {
        border: 2px solid $green;
    }
}
#comment {
    padding: 20px 30px;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 50px;
    width: 90%;
    border-radius: 8px;
    margin: 24px auto;
    box-shadow: 0px 4px 54px 0px #00000008;
    transition: all 0.1s;
    border: 1px solid #fff;
    resize: none;
    &:hover {
        border: 1px solid $green;
        outline: 1px solid $green;
    }
    &:focus {
        border: 1px solid $green;
        outline: 1px solid $green;
    }
    &:active {
        border: 1px solid $green;
        outline: 1px solid $green;
    }
}
