.response__wrapper {
    display: none;
    padding: 100px 0px;
    max-width: 100%;
    background: $green;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    button {
        background: transparent;
        border: 0px none;
        img {
            max-width: 100%;
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }
    }
    h1 {
        max-width: 90%;
        display: flex;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px) and (min-width: 0px) {
    .response__wrapper {
        display: block;
    }
    .wrapper__provider {
        display: none;
    }
}
