.response__wrapper {
    display: none;
    padding: 50px 0;
    .mb {
        &__info-block {
            background-image: url("../img/elements.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #fff8f2;
        }
        &__navbar {
            margin-top: 30px;
            padding: 0 30px;
        }
        &__nav-logo {
            img {
                width: 40%;
            }
        }
        &__intro {
            padding: 0 30px;
            h1 {
                font-family: "Poppins", sans-serif;
                font-size: 32px;
                font-weight: 700;
                margin-top: 31px;
            }
            p {
                margin-top: 10px;
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            a {
                margin-top: 14px;
                color: $green;
                font-family: "Inter";
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
            }
        }
        &__order {
            margin-top: 10px;
            padding: 0 30px;
        }
        &__order-intro {
            h1 {
                font-weight: 700;
                font-size: 24px;
            }
            img {
                width: 100%;
            }
            p {
                font-family: "Poppins", sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                margin: 22px 0;
            }
        }
        &__functions {
            padding: 0 30px;
            h1 {
                margin: 38px auto;
                font-family: "Poppins", sans-serif;
                font-size: 24px;
                font-weight: 600;
                line-height: 36px;
                text-align: center;
                color: $dark__mobile_blue;
            }
        }
        &__card {
            padding: 20px;
            border-radius: 30px;
            box-shadow: 14px 20px 48px 0px #190f2c0f;
            margin: 20px auto;
            display: block;
            h1 {
                text-align: left;
                color: #fff;
            }
        }
        &__card-calendar {
            background: $ocean;
        }
        &__card-checklist {
            background: $purple;
        }
        &__card-money {
            background: $orange;
        }
        &__card-img {
            width: 90px;
            height: 90px;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        &__download {
            position: relative;
            padding: 30px 0px;
            background: #FFF8F2;
        }
        &__download-intro {
            padding: 0 30px;
            h1 {
                font-family: "Poppins", sans-serif;
                font-size: 24px;
                font-weight: 600;
                margin-top: 86px;
            }
        }
        &__img {
            position: absolute;
            right: 0;
            top: 50%;
        }
        &__download-btn {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            a {
                text-decoration: none;
                width: 100%;
                margin: 32px 0;
            }
        }
        &__footer {
            margin: 32px 0;
            padding: 0 30px;
            background-color: #fff;
        }
        &__footer-intro {
            img {
                width: 40%;
            }
        }
        &__footer-social {
            margin-top: 32px;
            a {
                margin-right: 30px;
            }
        }
        &__footer-support {
            margin: 30px 0;
            a {
                text-decoration: none;
            }
        }
    }
}
@media screen and (max-width: 1200px) and (min-width: 0px) {
    .response__wrapper {
        display: block;
    }
    .wrapper__provider {
        display: none;
    }
    .login__bg {
        display: none;
    }
}
