$main__gradient: linear-gradient(295.03deg, rgba(21, 206, 115, 0.5) 52.72%, #15CE73 97.81%);
$blue__gradient: linear-gradient(90deg, rgba(8, 6, 150, 0.18) 0%, rgba(139, 102, 244, 0) 100%);
$green__gradient: linear-gradient(90deg, rgba(21, 206, 115, 0.18) 0%, rgba(139, 102, 244, 0) 100%);
$green: #15CE73;
$black: #1C1C1E;
$blue: #080696;
$dr__black: #404040;
$milk: #F8F7FC;
$gray: #8A8A8A;
$dark__gray: #99999D;
$dark__blue: #0B344B;
$darked__blue: #01005E;
$dark__mobile_blue: #18063C;
$ocean: #70D0DC;
$purple: #7562E0;
$orange: #FA865F;