@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
@import "root.scss";
@import "elements.scss";
@import "responsive.scss";

// * {
//     border: 1px solid red;
// }

body,
html {
    font-family: "Outfit", sans-serif;
    transition: all 0.5s;
    position: relative;
}
.wrapper__provider {
    background: #fafcff;
    position: relative;
}
.login {
    &__form {
        max-width: 384px;
        margin: 0px auto;
    }
    &__form-wrapper {
        max-width: 384px;
        margin: 0px auto;
    }
    &__bg {
        background: $main__gradient;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 40px;
        max-height: 150vh;
        min-height: 100vh;
        height: 100%;
    }
    &__form {
        padding: 40px 40px;
        background: #fff;
        border-radius: 24px;
        width: 100%;
        max-width: 528px;
        margin-left: 56px;
    }
    &__img {
        img {
            max-width: 616px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__forms {
        margin: 54px auto;
    }
}
.form {
    margin-top: 32px;
    &__input {
        border: 1px solid #000;
        padding: 10px;
        border-radius: 8px;
        margin: 14px 0px;
        transition: all 0.3s;
        &:hover {
            border: 1px solid $green;
        }
        input {
            border: 0px none;
            outline: 0px none;
            font-size: 16px;
        }
    }
    &__recovery {
        margin-bottom: 24px;
        margin-top: 25px;
    }
    &__upload-logo {
        margin: 12px 10px;
        max-width: 305px;
        display: flex;
    }
    &__upload-item {
        margin: 0 auto;
        background: #f7f8f9;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 12px;
        img {
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 19px;
            text-align: center;
        }
        button {
            display: flex;
            justify-content: center;
            margin: 20px auto;
        }
    }
}
.nav {
    &__link-item {
        margin-top: 11px;
        padding: 10px 24px;
        display: flex;
        align-items: center;
        &:hover {
            background: $blue__gradient;
        }
        a {
            color: $gray;
            font-size: 12px;
            font-weight: 400;
            line-height: 15.12px;
            margin-left: 10px;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
                color: $blue;
            }
        }
    }
    &__link-diler-item {
        margin-top: 11px;
        padding: 10px 24px;
        display: flex;
        align-items: center;
        &:hover {
            background: $green__gradient;
        }
        a {
            color: $gray;
            font-size: 12px;
            font-weight: 400;
            line-height: 15.12px;
            margin-left: 10px;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
                color: $green;
            }
        }
    }
    &__link-item-active {
        background: $blue__gradient;
        padding: 10px 24px;
        display: flex;
        align-items: center;
        border-left: 3px solid $blue;
        a {
            font-size: 12px;
            line-height: 15.12px;
            font-weight: 700;
            text-decoration: none;
            color: $blue;
            margin-left: 10px;
        }
    }
    &__link-item-diler-active {
        background: $green__gradient;
        padding: 10px 24px;
        display: flex;
        align-items: center;
        border-left: 3px solid $green;
        a {
            font-size: 12px;
            line-height: 15.12px;
            font-weight: 700;
            text-decoration: none;
            color: $green;
            margin-left: 10px;
        }
    }
    &__link-diler {
        border: 0.4px solid #0f0a1c3c;
        margin: 20px auto;
        max-width: 110px;
    }
}
.logout {
    margin-top: 256px;
    a {
        margin-left: 10px;
    }
}
.login__btn {
    margin-right: 12px;
}
.navbar {
    position: fixed;
    &__brand {
        margin-bottom: 11px;
        padding: 0px 31px;
    }
    &__content {
        margin-top: 51px;
        p {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            color: #0f0a1c80;
            padding: 0px 31px;
            margin: 21px 0px 16px 0px;
        }
    }
    &__links {
        padding: 0px;
        nav {
            margin-left: 0px;
            padding-left: 0px;
            ul {
                padding-left: 0;
                li {
                    list-style: none;
                }
            }
        }
    }
}
.profile {
    &__company {
        max-width: 100%;
        // background-image: url("../assets/img/pana.svg");
        // background-size: 313px 218px;
        // background-position: right bottom;
        // background-repeat: no-repeat;
    }
    &__content {
        margin-top: 51px;
    }
    &__navbar {
        background: $milk;
        padding: 0px;
    }
    &__nav-logo-title {
        margin-left: 10px;
        margin-top: 7px;
    }
    &__nav-title {
        h1 {
            text-align: center;
            color: $blue;
            font-weight: 700;
            margin-left: 10px;
        }
    }
    &__nav {
        max-width: 1130px;
    }
    &__forms {
        margin: 95px 53px;
        max-width: 713px;
    }
    &__card {
        box-shadow: 0px 4px 50px 0px #0000000d;
        max-width: 700px;
        width: 100%;
        padding: 16px;
        margin-left: 64px;
        border-radius: 20px;
        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
        }
    }
    &__card-info {
        display: flex;
        margin: 24px 0;
        &:nth-child(1) {
            margin: 0px 0px;
        }
        h1 {
            font-size: 20px;
            font-weight: 500;
            line-height: 25px;
        }
        p {
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            margin-left: 10px;
        }
        img {
            width: 24px;
            height: 24px;
        }
        a {
            font-size: 20px;
            font-weight: 500;
            line-height: 25px;
            color: $blue;
        }
    }
    &__card-employe {
        h1 {
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
        }
        p {
            font-size: 20px;
            font-weight: 500;
            line-height: 25px;
        }
    }
    &__card-info-wrapper {
        display: flex;
        img {
            width: 24px;
            height: 24px;
        }
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
        }
    }
    &__card-intro {
        margin-top: 36px;
    }
    &__card-email {
        margin-left: 29px;
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    &__forms-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 60px 0;
        max-width: 1130px;
    }
    &__diler-card {
        padding: 32px;
        margin: 32px 0;
        box-shadow: 0px 4px 50px 0px #0000000f;
        background: #fff;
        border-radius: 8px;
        &:nth-child(1) {
            margin: 0 0;
        }
    }
    &__diler-title-item {
        display: flex;
    }
    &__diler-name {
        margin-left: 14px;
        a {
            text-decoration: none;
            color: $green;
            font-weight: 500;
        }
    }
    &__diler-rew {
        display: flex;
    }
    &__diler-rew-text {
        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            margin-left: 8px;
        }
    }
}
.row {
    margin-left: 0;
}
.form__btn {
    padding: 10px 120px;
}
.balance {
    &__company {
        max-width: 100%;
    }
    &__card {
        padding: 38px 36px;
        border-radius: 12px;
        box-shadow: 0px 4px 54px 0px #00000008;
        max-width: 538px;
        margin: 67px 51px;
    }
    &__nav-title {
        h1 {
            margin-left: 10px;
        }
    }
    &__accessible-item {
        margin: 36px 0px;
        h1 {
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
        }
    }
    &__card-pd {
        margin-left: 51px;
    }
    &__control-items {
        .main__btn {
            margin-left: 56px;
            padding: 16px 26px;
        }
    }
    &__btn {
        padding: 16px 26px;
    }
}
.process__work {
    margin: 40px 50px;
    box-shadow: 0px 4px 54px 0px #0000001e;
    width: 90%;
    padding: 24px 40px;
    border-radius: 12px;
    max-width: 1130px;
}
.result {
    &__table {
        width: 100%;
        margin: 0px auto;
        padding: 0px 20px;
    }
    &__table-head {
        border-bottom: 2px solid #f2f2f2;
        th {
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            text-align: center;
            color: $dark__gray;
            padding-bottom: 16px;
        }
    }
    &__table-body {
        td {
            padding-top: 16px;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
            color: $dark__blue;
        }
    }
}
.table {
    &__item-center {
        text-align: center;
        margin: 0px auto;
    }
}
.acc {
    &__container {
        position: relative;
    }
    &__head {
        cursor: pointer;
        font-weight: 500;
        transition: all 0.3s;
        color: $darked__blue;
        &:hover {
            font-weight: 600;
        }
        &:focus {
            font-weight: 600;
        }
        .acc__head-btn-active {
            transform: rotate(-180deg);
        }
    }
    &__body {
        position: absolute;
        top: 28px;
        z-index: 10;
        padding: 8px 16px;
        border-radius: 8px;
        border: 2px solid $green;
        background-color: #fff;
        display: none;
        p {
            color: $dark__blue;
        }
    }
}
.acc {
    &__head-1 {
        cursor: pointer;
        .acc__head-btn-1-active {
            transform: rotate(-180deg);
        }
    }
}
.question {
    position: fixed;
    right: 5%;
    bottom: 10%;
    background: transparent;
    border: 0;
    outline: 0;
    transition: all 0.3s;
    z-index: 10000;
    &:hover {
        opacity: 0.4;
    }
}
.address {
    &__info {
        width: 80%;
    }
    &__info-table {
        margin: 40px 50px;
        padding: 20px 40px;
        border-radius: 20px;
        border-radius: 12px;
        background: white;
        box-shadow: 0px 4px 54px 0px rgb(0 0 0 / 12%);
        max-width: 1130px;
    }
    &__info-item {
        border-bottom: 1px solid #f2f2f2;
        p {
            padding-top: 16px;
            padding-left: 10px;
        }
    }
    &__table {
        width: 100%;
        padding: 0 20px;
        th {
            padding: 16px 0px;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
            text-align: left;
            color: #99999d;
        }
    }
    &__table-body {
        td {
            text-align: left;
        }
    }
    &__table-comment {
        margin: 24px 0px;
        display: flex;
        align-items: center;
        align-self: center;
        form {
            margin: 0px 20px;
            input {
                padding: 15px 15px;
                font-size: 14px;
                font-weight: 500;
                line-height: 15px;
                border: 2px solid #f8f7fc;
                border-radius: 8px;
                background: #f7f8f9;
                transition: all 0.3s;
                outline: none;
                width: 450px;
                &:hover {
                    border: 2px solid $green;
                }
                &:focus {
                    border: 2px solid $green;
                }
            }
        }
        a {
            text-decoration: none;
            color: $blue;
            margin-left: 26px;
        }
    }
}
.comment__item {
    font-size: 16px;
    margin-right: 20px;
    margin-top: 15px;
}

.commodit__item {
    margin-top: 15px;
    margin-left: 29px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.process {
    &__table-btn {
        background: #15ce73;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.02em;
        border-radius: 8px;
        padding: 10px 26px;
        border: 0px none;
        outline: 0px none;
        cursor: pointer;
        transition: all 0.5s;
        box-shadow: 0px 5px 13px 2px rgb(0 0 0 / 28%);
    }
    &__table-head {
        th {
            text-align: left;
        }
    }
    &__table-body {
        td {
            text-align: left;
            padding: 24px 0;
        }
    }
    &__file {
        color: $blue !important;
    }
}
.ms-select-all {
    display: none;
}
.call {
    &__attached {
        margin: 20px 50px;
        box-shadow: 0px 4px 54px 0px rgb(0 0 0 / 12%);
        width: 90%;
        max-width: 1130px;
        padding: 24px 40px;
        border-radius: 12px;
        h1 {
            font-size: 16px;
            font-weight: 500;
        }
        a {
            color: $blue;
            text-decoration: none;
            font-weight: 500;
        }
    }
    &__inputs {
        max-width: 1130px;
        form {
            display: flex;
            flex-direction: column;
        }
    }
    &__upload {
        margin-left: 60px;
    }
    &__upload-delete {
        a {
            text-decoration: none;
            font-weight: 500;
            color: $blue;
        }
    }
    &__send {
        button {
            padding: 10px 80px;
            font-size: 16px;
        }
    }
}
.new {
    &__order-forms {
        max-width: 747px;
        margin-left: 60px;
    }
}
.order {
    &__upload-tab {
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 48px 0px #1927590f;
        display: flex;
        justify-content: center;
        padding: 16px 254px;
    }
    &__upload-btn {
        background: #f7f9fb;
        padding: 14px 15px;
        border-radius: 8px;
    }
    &__upload {
        border: 0;
        outline: 0;
        font-weight: 600;
        background: transparent;
        padding: 5px 10px;
    }
    &__active {
        color: $green;
        border: 1px solid $green;
        border-radius: 8px;
        padding: 5px 10px;
    }
    &__uploads {
        background: #f7f9fb;
    }
    &__upload-wrapper {
        border: 2px dotted #e2e6ea;
        border-radius: 10px;
        padding: 70px 0;
        padding: 40px 45px;
        position: relative;
        h1 {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            color: #8d8f97;
        }
    }
    &__upload-item {
        display: flex;
        justify-content: space-between;
        padding: 16px 10px;
        border-top: 1px solid #ebeff2;
        border-bottom: 1px solid #ebeff2;
    }
    &__upload-name {
        display: flex;
        align-items: center;
    }
    &__upload-intro {
        margin-left: 10px;
        a {
            text-decoration: none;
            font-weight: 600;
            color: #000;
        }
    }
    &__upload-size {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__upload-size-item {
        display: flex;
        align-items: center;
        p {
            border: 1px solid #cdd3d8;
            border-radius: 3px;
            padding: 5px;
            margin-top: 10px;
        }
        button {
            background: transparent;
            border: 0;
            outline: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__upload-height {
        max-height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
.wrapper {
    .active {
        color: $green;
        border: 1px solid $green;
        border-radius: 8px;
        padding: 5px 10px;
    }
}
.order__bg {
    position: absolute;
    bottom: 1%;
    right: 3%;
}
#myfile {
    display: block;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
textarea {
    resize: none;
}
.textarea__comment {
    padding: 15px 20px;
    width: 450px;
    border-radius: 8px;
    border: 1px solid #f8f7fc;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}
.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 40px;
    width: 400px;
    margin-left: -200px;
    background: #fff;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
    text-align: center;
    h3 {
        color: $blue;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }
    h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin: 20px 0;
    }
    &-fade {
        display: none;
    }
    &-profile-page {
        display: none;
    }
    &-fade {
        &::before {
            content: "";
            background: #000;
            backdrop-filter: blur(10px);
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: 9999;
        }
    }
    &-rating {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
}
.rating {
    &-mini {
        display: inline-block;
        font-size: 0;
    }
    &-mini span {
        padding: 0;
        font-size: 24px;
        line-height: 1;
        color: lightgrey;
    }
    &-mini > span {
        &::before {
            content: "★";
        }
    }
    &-mini > span.active {
        color: #FCB446;
    }
    &-text {
        p {
            font-size: 16px;
            font-weight: 400;
            padding-top: 0px;
        }
    }
    &__btn {
        padding: 10px 35px;
        font-size: 16px;
    }
}
.archive__ico {
    svg {
        path {
            stroke: $blue;
        }
    }
}
